*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: #ffffff;
}

nav{
    background-color: #17ffb9;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 100px;
}

nav a{
    height: 100px;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.486);
}

.logo {
    font-size: 30px;
    font-weight: 800;
}

nav li:first-child{
    margin-right: auto ;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #17ffb9 ;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.img {
    height: 43px;
    width: 43px;
}

.clos {
    height: 43px;
    width: 43px;
}

.menu-buttum {
    display: none;
}
@media(max-width: 722px) {
    .hideonmobile {
        display: none;
    }
    .menu-buttum {
        display: block;
    }
    .logo {
        font-size: 35px;
        font-weight: 800;
    }
}

@media(max-width: 320px) {
    .sidebar {
        width: 100%;
    }
}
